<div class="center-block" style="width: 700px;">
  <div class="page-header">
    <h1>회원가입</h1>
  </div>
  <div class="alert alert-success" role="alert">
    <strong>회원가입 완료!</strong> 뮤즈몽키 서비스 가입을 환영합니다.
  </div>
  <p>뮤즈몽키 서비스를 이용해보세요 <%= link_to "로그인", login_path %></p>
</div>