<div class="row center-block" style="width: 700px;">
  <div class="page-header">
    <h1>Join MuzMongki</h1>
  </div>
  <div class="alert alert-success" role="alert">
    <strong>Signup Success!</strong> Welcome to MuzMongki
  </div>
</div>