<div class="jumbotron">
  <h1>Hello, mongki!</h1>
  <p>Muzmongki is the best community for musicians.</p>
  <p><%= button_to "Join", signup_path, method: "get", class: "btn btn-primary navbar-btn" %></p>
</div>