<div class="row center-block" style="width: 700px;">
  <div class="page-header">
    <h1>글 삭제</h1>
  </div>
  <div class="alert alert-danger" role="alert">
    <strong>삭제 실패!</strong> 관리자에게 문의해주시기 바랍니다.
  </div>
</div>