<div class="row center-block" style="width: 700px;">
  <div class="page-header">
    <h1>회원전용 페이지</h1>
  </div>
  <div class="alert alert-danger" role="alert">
    <strong>로그인 후 이용 가능합니다.</strong>
  </div>
  <p>회원이신가요? <%= link_to "로그인", login_path %></p>
  <p>아직 회원이 아니신가요? <%= link_to "회원가입 하러가기", signup_path %></p>
</div>