<footer>
  <nav class="nav-bar navbar-inverse navbar-fixed-bottom">
    <div class="container">
      <div class="pull-left">
        <img alt="MuzMongki" src="<%= image_url('logo_50x50_clr.png') %>">
      </div>
      <div class="pull-left">
        <p class="navbar-text ">Copyright 2015 MuzMongki all rights reserved.</p>
      </div>
    </div>
  </nav>
</footer>